$primary-bg-color: #fbf7f4;
$secondary-bg-color: #efd4d1;
$hover-opacity: 0.5;
$hover-scale: 1.09;
$font-family: "Gupter", serif;
$primary-color: #2e294e;
$link-hover-opacity: 0.2;
$header-gradient: linear-gradient(to left, #efd4d1, white);
$slogan-gradient: radial-gradient(circle, #efd4d1, white);
$transition-duration: 0.4s;
$p-font-size: 18px;
